name: Delete old workflow runs
on:
  schedule:
    - cron: '0 23 10 * *'
  workflow_dispatch:
# Run monthly, at 23:00 on the 10st day of month.

jobs:
  delete_runs:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2.1.0
        with:
          token: ${{ github.token }}
          repository: 'cassiau/Auto-login-netlib'
          retain_days: 30
          keep_minimum_runs: 6
